#
# General
#
# Ignore editor and OS-specific files
*.swp
*.swo
.DS_Store
Thumbs.db


#
# Packer
#
credentials.pkr.hcl

#
# Ansible
#

# Ignore SSH keys
*.pem
*.key

# Ignore sensitive files
.vault_pass.txt
*.vault
*.vault.yml
proxmox/ansible/vault/secrets.yml

# Ignore temporary files
*.retry
*.log

# Ignore virtual environment
venv/
.env/
__pycache__/
*.pyc

#
# Terraform
#

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Ignore tfplan files to ignore the plan output
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
